Repository shakir85/homelab, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tool-helm, tool-k8s, tool-terraform, tool-terragrunt, tool-ansible, github_actions, env-dev, env-staging, env-prod

.github/labeler.yml:

# This file is used to automatically label issues and pull requests based on the files changed.
# It is used by the GitHub Labeler Action: https://github.com/actions/labeler
docs:
  - changed-files:
    - any-glob-to-any-file: "**/README*"

tool-helm:
  - changed-files:
      - any-glob-to-any-file: "helm/**/*"

tool-k8s:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"

tool-terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/root-modules/**/*"

tool-terragrunt:
  - changed-files:
      - any-glob-to-any-file: "terraform/live/**/*"

tool-ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

env-dev:
  - changed-files:
    - any-glob-to-any-file: "terraform/live/*/dev/**"
    - any-glob-to-any-file: "ansible/inventory/dev/**"

env-staging:
  - changed-files:
    - any-glob-to-any-file: "terraform/live/*/staging/**"
    - any-glob-to-any-file: "ansible/inventory/staging/**"

env-prod:
  - changed-files:
      - any-glob-to-any-file: "terraform/live/*/prod/**"
      - any-glob-to-any-file: "ansible/inventory/prod/**"

Restructure modules path following terragrunt's style
  terraform/catalog/modules/README
  terraform/catalog/modules/bootstrap/main.tf
  terraform/catalog/modules/bootstrap/variables.tf
  terraform/catalog/modules/platform/main.tf
  terraform/catalog/modules/platform/variables.tf
  terraform/catalog/modules/proxmox/cluster/main.tf
  terraform/catalog/modules/proxmox/cluster/variables.tf
  terraform/live/bootstrap/dev/terragrunt.hcl
  terraform/live/bootstrap/staging/terragrunt.hcl
  terraform/live/platform/dev/terragrunt.hcl
  terraform/live/platform/staging/terragrunt.hcl
Labels: docs, tool-terragrunt, env-dev, env-staging

Refactore Terragrunt stacks
  terraform/catalog/modules/README
  terraform/catalog/modules/README.md
  terraform/catalog/modules/infra/main.tf
  terraform/catalog/modules/infra/variables.tf
  terraform/live/README.md
  terraform/live/backend.hcl
  terraform/live/dev/compute/common.hcl
  terraform/live/dev/compute/terragrunt.hcl
  terraform/live/dev/infra/env.hcl
  terraform/live/dev/infra/terragrunt.hcl
  terraform/live/dev/platform/env.hcl
  terraform/live/dev/platform/terragrunt.hcl
  terraform/live/proxmox.hcl
  terraform/live/root.hcl
  terraform/live/staging/compute/common.hcl
  terraform/live/staging/compute/terragrunt.hcl
  terraform/live/staging/infra/env.hcl
  terraform/live/staging/infra/terragrunt.hcl
  terraform/live/staging/platform/env.hcl
  terraform/live/staging/platform/terragrunt.hcl
Labels: docs, tool-terragrunt

Patch Ansible workflow
  .github/workflows/callable-k3s-ansible.yml
  ansible/k3s_site.playbook.yml
Labels: tool-ansible, github_actions

Add Ansible bootstrap step
  terraform/live/dev/compute/terragrunt.hcl
Labels: tool-terragrunt

Adjust Terragrunt workflow
  .github/workflows/infra-cluster-terragrunt-pxmx.yml
  .github/workflows/infra-platform-terragrunt.yml
  .github/workflows/terragrunt-deploy-env.yml
Labels: github_actions

Refactore Terragrunt Projects (#212)
  .github/workflows/callable-k3s-ansible.yml
  .github/workflows/infra-cluster-terragrunt-pxmx.yml
  .github/workflows/infra-platform-terragrunt.yml
  .github/workflows/terragrunt-deploy-env.yml
  ansible/k3s_site.playbook.yml
  terraform/catalog/modules/README.md
  terraform/catalog/modules/infra/main.tf
  terraform/catalog/modules/infra/variables.tf
  terraform/catalog/modules/platform/main.tf
  terraform/catalog/modules/platform/variables.tf
  terraform/catalog/modules/proxmox/cluster/main.tf
  terraform/catalog/modules/proxmox/cluster/variables.tf
  terraform/live/README.md
  terraform/live/backend.hcl
  terraform/live/dev/compute/common.hcl
  terraform/live/dev/compute/terragrunt.hcl
  terraform/live/dev/infra/env.hcl
  terraform/live/dev/infra/terragrunt.hcl
  terraform/live/dev/platform/env.hcl
  terraform/live/dev/platform/terragrunt.hcl
  terraform/live/proxmox.hcl
  terraform/live/root.hcl
  terraform/live/staging/compute/common.hcl
  terraform/live/staging/compute/terragrunt.hcl
  terraform/live/staging/infra/env.hcl
  terraform/live/staging/infra/terragrunt.hcl
  terraform/live/staging/platform/env.hcl
  terraform/live/staging/platform/terragrunt.hcl
  terraform/root-modules/README
Labels: docs, tool-terraform, tool-terragrunt, tool-ansible, github_actions

Fix ansible execution path
  terraform/live/dev/compute/terragrunt.hcl
Labels: tool-terragrunt

Fix dir path
  terraform/live/dev/compute/terragrunt.hcl
Labels: tool-terragrunt

Patch Ansible execution (#213)
  terraform/live/dev/compute/terragrunt.hcl
Labels: tool-terragrunt

Deploy all env stack
  .github/workflows/terragrunt-deploy-env.yml
Labels: github_actions

Attempt to apply all
  .github/workflows/callable-terragrunt.yml
Labels: github_actions

Test
  .github/workflows/callable-terragrunt.yml
Labels: github_actions

Fix TG command and update readme.md
  .github/workflows/callable-terragrunt.yml
  terraform/live/README.md
Labels: docs, tool-terragrunt, github_actions

Disable planning job
  .github/workflows/callable-terragrunt.yml
Labels: github_actions

Remove planning job and use main branch for ingress chart
  .github/workflows/callable-terragrunt.yml
  terraform/catalog/modules/platform/main.tf
Labels: github_actions
